<!--
  ProductsHomeComponent Template

  Displays the header, a list of products, an order submission form, and the footer.
-->
<app-header heading="View all {{category}}"></app-header>
<div style="padding: 8px;" *ngFor="let product of products">
  <!-- Renders a ProductComponent for each product in the products array -->
  <app-product
    [name]="product.name"
    [image]="product.image"
    [description]="product.description">
  </app-product>
</div>
<!-- Form to submit the order -->
<form (submit)="sendOrder()">
  <button type="submit">Submit</button>
</form>
<app-footer></app-footer>